export("\code{glm}")
export("\code{pcs.model}")
export(a)
export(coloc.abf)
export(coloc.abf.datasets)
export(coloc.abf.snpStats)
export(coloc.bayes)
export(coloc.bayes.3t)
export(coloc.bayes.3t.tag)
export(coloc.bayes.tag)
export(coloc.bma)
export(coloc.test)
export(coloc.test.summary)
export(coloc.var.bma)
export(coloc.var.test)
export(coloc.var.test.summary)
export(object.)
export(pcs.model)
export(pcs.prepare)
export(pcs.var.prepare)
export(returns)
export(tag)
exportClasses(coloc)
exportClasses(colocBayes)
exportClasses(colocPCs)
exportMethods(bf)
exportMethods(ci)
exportMethods(eta)
exportMethods(summary)
exportMethods(theta)
